.nav-wrapper{
    text-align: center;
    font-size: 30px;
    background-color: rgb(24, 24, 128);
}
.search-header{
    font-size: 20px;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
}
.input-field{
    border: 2px solid;
    border-radius: 5px;
        
}
.search-btn{
    padding: 5px;
    border-radius: 5px;
    line-height: 15px;
}
.btn{
    width: 100%;
    background-color: rgb(89, 185, 245);
}
.search-list{
    text-align: center;
    font-size: 20px;
}
.searchlist-btn{
    padding: 5px;
    border-radius: 5px;
    line-height: 15px;
    width: 100%;
}

/*Dividing the area into 5 portions in materialize css*/
.s5ths,
.m5ths,
.l5ths,
.xl5ths {
  margin-left: auto; 
  left: auto;
  right: auto;
}

.row .col.s5ths {
  width: 20%;
}

@media only screen and (min-width: 601px) {
  .row .col.m5ths {
    width: 20%;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l5ths {
    width: 20%;
  }
}

@media only screen and (min-width: 1201px) {
  .row .col.xl5ths {
    width: 20%;
  }
}